In [110]:
# import the libararies needed for the case study
import pandas as pd # pandas library helps in data analysis and manipulation
import numpy as np # numpy library provides functions for mathematical operations and large, multi-dimensional arrays and matrices
import seaborn as sns # library for data visualization more advanced than matplotlib
import warnings # library shows warning messages
warnings.simplefilter("ignore") # to ignore any warning messages during the execution of the code
import matplotlib.pyplot as plt # library for data visualization

# understand the data

In [111]:
# create a dataframe from the csv file

df = pd.read_csv('loan.csv')

In [112]:
# check the top 5 rows of the dataframe
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [47]:
# check the dataframe size

df.size

4408587

In [48]:
# check the dataframe shape - no or rows and columns

df.shape

(39717, 111)

In [49]:
# check the dataframe column datatypes

df.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 111, dtype: object

In [50]:
# check the dataframe information like no of columns, count of column datatypes,size of the dataframe

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

# There seem to be a lot of columns in the dataset, it would be best to categorise the columns before proceeding ahead

In [113]:
# no of unique values in the dataframe
for i in df.columns:
    print(i,df[i].nunique())

id 39717
member_id 39717
loan_amnt 885
funded_amnt 1041
funded_amnt_inv 8205
term 2
int_rate 371
installment 15383
grade 7
sub_grade 35
emp_title 28820
emp_length 11
home_ownership 5
annual_inc 5318
verification_status 3
issue_d 55
loan_status 3
pymnt_plan 1
url 39717
desc 26527
purpose 14
title 19615
zip_code 823
addr_state 50
dti 2868
delinq_2yrs 11
earliest_cr_line 526
inq_last_6mths 9
mths_since_last_delinq 95
mths_since_last_record 111
open_acc 40
pub_rec 5
revol_bal 21711
revol_util 1089
total_acc 82
initial_list_status 1
out_prncp 1137
out_prncp_inv 1138
total_pymnt 37850
total_pymnt_inv 37518
total_rec_prncp 7976
total_rec_int 35148
total_rec_late_fee 1356
recoveries 4040
collection_recovery_fee 2616
last_pymnt_d 101
last_pymnt_amnt 34930
next_pymnt_d 2
last_credit_pull_d 106
collections_12_mths_ex_med 1
mths_since_last_major_derog 0
policy_code 1
application_type 1
annual_inc_joint 0
dti_joint 0
verification_status_joint 0
acc_now_delinq 1
tot_coll_amt 0
tot_cur_bal 0
open_acc_6m 0
open_il_6m 0
open_il_12m 0
open_il_24m 0
mths_since_rcnt_il 0
total_bal_il 0
il_util 0
open_rv_12m 0
open_rv_24m 0
max_bal_bc 0
all_util 0
total_rev_hi_lim 0
inq_fi 0
total_cu_tl 0
inq_last_12m 0
acc_open_past_24mths 0
avg_cur_bal 0
bc_open_to_buy 0
bc_util 0
chargeoff_within_12_mths 1
delinq_amnt 1
mo_sin_old_il_acct 0
mo_sin_old_rev_tl_op 0
mo_sin_rcnt_rev_tl_op 0
mo_sin_rcnt_tl 0
mort_acc 0
mths_since_recent_bc 0
mths_since_recent_bc_dlq 0
mths_since_recent_inq 0
mths_since_recent_revol_delinq 0
num_accts_ever_120_pd 0
num_actv_bc_tl 0
num_actv_rev_tl 0
num_bc_sats 0
num_bc_tl 0
num_il_tl 0
num_op_rev_tl 0
num_rev_accts 0
num_rev_tl_bal_gt_0 0
num_sats 0
num_tl_120dpd_2m 0
num_tl_30dpd 0
num_tl_90g_dpd_24m 0
num_tl_op_past_12m 0
pct_tl_nvr_dlq 0
percent_bc_gt_75 0
pub_rec_bankruptcies 3
tax_liens 1
tot_hi_cred_lim 0
total_bal_ex_mort 0
total_bc_limit 0
total_il_high_credit_limit 0

In [52]:
# no of null values in the dataframe
for i in df.columns:
    print(i,df[i].isnull().sum())

id 0
member_id 0
loan_amnt 0
funded_amnt 0
funded_amnt_inv 0
term 0
int_rate 0
installment 0
grade 0
sub_grade 0
emp_title 2459
emp_length 1075
home_ownership 0
annual_inc 0
verification_status 0
issue_d 0
loan_status 0
pymnt_plan 0
url 0
desc 12940
purpose 0
title 11
zip_code 0
addr_state 0
dti 0
delinq_2yrs 0
earliest_cr_line 0
inq_last_6mths 0
mths_since_last_delinq 25682
mths_since_last_record 36931
open_acc 0
pub_rec 0
revol_bal 0
revol_util 50
total_acc 0
initial_list_status 0
out_prncp 0
out_prncp_inv 0
total_pymnt 0
total_pymnt_inv 0
total_rec_prncp 0
total_rec_int 0
total_rec_late_fee 0
recoveries 0
collection_recovery_fee 0
last_pymnt_d 71
last_pymnt_amnt 0
next_pymnt_d 38577
last_credit_pull_d 2
collections_12_mths_ex_med 56
mths_since_last_major_derog 39717
policy_code 0
application_type 0
annual_inc_joint 39717
dti_joint 39717
verification_status_joint 39717
acc_now_delinq 0
tot_coll_amt 39717
tot_cur_bal 39717
open_acc_6m 39717
open_il_6m 39717
open_il_12m 39717
open_il_24m 39717
mths_since_rcnt_il 39717
total_bal_il 39717
il_util 39717
open_rv_12m 39717
open_rv_24m 39717
max_bal_bc 39717
all_util 39717
total_rev_hi_lim 39717
inq_fi 39717
total_cu_tl 39717
inq_last_12m 39717
acc_open_past_24mths 39717
avg_cur_bal 39717
bc_open_to_buy 39717
bc_util 39717
chargeoff_within_12_mths 56
delinq_amnt 0
mo_sin_old_il_acct 39717
mo_sin_old_rev_tl_op 39717
mo_sin_rcnt_rev_tl_op 39717
mo_sin_rcnt_tl 39717
mort_acc 39717
mths_since_recent_bc 39717
mths_since_recent_bc_dlq 39717
mths_since_recent_inq 39717
mths_since_recent_revol_delinq 39717
num_accts_ever_120_pd 39717
num_actv_bc_tl 39717
num_actv_rev_tl 39717
num_bc_sats 39717
num_bc_tl 39717
num_il_tl 39717
num_op_rev_tl 39717
num_rev_accts 39717
num_rev_tl_bal_gt_0 39717
num_sats 39717
num_tl_120dpd_2m 39717
num_tl_30dpd 39717
num_tl_90g_dpd_24m 39717
num_tl_op_past_12m 39717
pct_tl_nvr_dlq 39717
percent_bc_gt_75 39717
pub_rec_bankruptcies 697
tax_liens 39
tot_hi_cred_lim 39717
total_bal_ex_mort 39717
total_bc_limit 39717
total_il_high_credit_limit 39717

# Cleaning up the data

In [114]:
# check for the columns where no of nulls is the same as that of the total no of rows of the df.
all_null_columns=[]
for i in df.columns:
    if(df[i].isnull().sum()/df.shape[0]==1):
        print(i)
        all_null_columns.append(i)
print(all_null_columns)

mths_since_last_major_derog
annual_inc_joint
dti_joint
verification_status_joint
tot_coll_amt
tot_cur_bal
open_acc_6m
open_il_6m
open_il_12m
open_il_24m
mths_since_rcnt_il
total_bal_il
il_util
open_rv_12m
open_rv_24m
max_bal_bc
all_util
total_rev_hi_lim
inq_fi
total_cu_tl
inq_last_12m
acc_open_past_24mths
avg_cur_bal
bc_open_to_buy
bc_util
mo_sin_old_il_acct
mo_sin_old_rev_tl_op
mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl
mort_acc
mths_since_recent_bc
mths_since_recent_bc_dlq
mths_since_recent_inq
mths_since_recent_revol_delinq
num_accts_ever_120_pd
num_actv_bc_tl
num_actv_rev_tl
num_bc_sats
num_bc_tl
num_il_tl
num_op_rev_tl
num_rev_accts
num_rev_tl_bal_gt_0
num_sats
num_tl_120dpd_2m
num_tl_30dpd
num_tl_90g_dpd_24m
num_tl_op_past_12m
pct_tl_nvr_dlq
percent_bc_gt_75
tot_hi_cred_lim
total_bal_ex_mort
total_bc_limit
total_il_high_credit_limit
['mths_since_last_major_derog', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']

In [115]:
# remove the columns from the dataframe that has nulls

df.drop(all_null_columns,axis=1,inplace=True)

In [55]:
# check the new shape of the dataframe
df.shape

(39717, 57)

In [116]:
# no of null values in the dataframe that has more than 50% values that are missing

m50_null_columns=[]
for i in df.columns:
    if(df[i].isnull().sum()/df.shape[0]*100>50):
        print(i)
        m50_null_columns.append(i)
print(m50_null_columns)

mths_since_last_delinq
mths_since_last_record
next_pymnt_d
['mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d']

In [117]:
# drop the columns having more than 50% missing values
df.drop(m50_null_columns,axis=1,inplace=True)

In [58]:
# check the new shape of the dataframe
df.shape

(39717, 54)

In [118]:
# below are the behavioural columns
behavioural_columns = ['delinq_2yrs','earliest_cr_line','inq_last_6mths','open_acc','pub_rec','revol_bal','revol_util','total_acc','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','last_credit_pull_d','application_type']
behavioural_columns

['delinq_2yrs',
 'earliest_cr_line',
 'inq_last_6mths',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'last_credit_pull_d',
 'application_type']

In [119]:
# drop the behavioural_columns
df.drop(behavioural_columns,axis=1,inplace=True)

In [120]:
# get the new shape of the df
df.shape

(39717, 33)

In [121]:
# get the list of columns where no of unique values is equal to no of rows in the df
unique_rows_columns=[]
for i in df.columns:
    if df[i].nunique()==df.shape[0]:
        print(i)
        unique_rows_columns.append(i)
print(unique_rows_columns)

id
member_id
url
['id', 'member_id', 'url']

In [122]:
# drop the columns with unique no of rows equal to the no of rows in df as this doesnot provide any insights
df.drop(unique_rows_columns,axis=1,inplace=True)

In [84]:
# get the shape of the df - no of rows and columns
df.shape

(39717, 30)

In [134]:
# check the unique data persent across various columns by checking the unique values and its value counts
for i in df.columns:
    print(i)
    print(df[i].unique())
    print(df[i].value_counts())

loan_amnt
[ 5000  2500  2400 10000  3000  7000  5600  5375  6500 12000  9000  1000
  3600  6000  9200 20250 21000 15000  4000  8500  4375 31825 12400 10800
 12500  9600  4400 14000 11000 25600 16000  7100 13000 17500 17675  8000
  3500 16425  8200 20975  6400 14400  7250 18000 35000 11800  4500 10500
 15300 20000  6200  7200  9500 18825 24000  2100  5500 26800 25000 19750
 13650 28000 10625  8850  6375 11100  4200  8875 13500 21600  8450 13475
 22000  7325  7750 13350 22475  8400 13250  7350 11500 29500  2000 11625
 15075  5300  8650  7400 24250 26000  1500 19600  4225 16500 15600 14125
 13200 12300  1400  3200 11875  1800 23200  4800  7300 10400  6600 30000
  4475  6300  8250  9875 21500  7800  9750 15550 17000  7500  5800  8050
  5400  4125  9800 15700  9900  6250 10200 23000 25975 21250 33425  8125
 18800 19200 12875  2625 11300  4100 18225 18500 16800  2200 14050 16100
 10525 19775 14500 11700  4150 12375  1700 22250 11200 22500 15900  3150
 18550  8575  7700 24500 22200 21400  9400 22400  5825  7650 20675 27050
 20500 12800 27575  7600 29000  9575 14575  7125 10700 10375  3050 27000
 28625 14100 20050 24925 13600 26400  7150 32000 15500 17475  2250 17050
  3250 22750  1200  5900 12600  6750 17250 19075 17200 13225 11775 16400
 10075  9350  8075 15625 20125  8300  2425  6950  5350  5875  9450 19000
 20400 21650 20300  2300 24575  5850  4750  5275  9175 34475 10050 19400
 18200  8800 34000 19500  5200 11900 29100 25850  3300 12200 22575  7175
 18250 16750 12950  6350 14750  6625  6900 18650  9250 22800 27300 12250
  4350 21200  2700  6025  3825  5325 14150  1600  2800 18975  2575  5450
  3800  2125 14650 11250 31000  6075  8475  3625 31300  4250 12650 27600
 13150  4300 10275 23600  7875 14550  9925 15850  1325  6325 29700 15200
 28100 15250  6800 11325 13975 13800  3100  3975 25450  3575 33600 23700
 28200  6475 27700 17375 15800 17625 16675  5250 22950  1950  4650 10250
  6100  8325  4850  9425 12700 25475 14850 14300 33000  5150 21625  3775
 21575 16250  8375 18725 11125  3525 19800  9300 19125  5575  1450 12900
 10150 20450 23500 16600  1300  6925 14675 11550 17400  1100  3400 12775
  5050 12100 26375  6975 26300  3125 23325 11600  5100 10175 18400 30750
 16550  5650 16450 18950  3650 33950 10125 16775  5700 20200 10600  3725
 19425 25900 23800  4025  2600  8900 10900 17600 14825  7925 14950  6700
  8600  1925 30500  4900 15575  3175 14800 32275  5750 14600 25200  6550
 30400 22900  6850  4600 11425 16950 29850 10675  6650 10775 17325 27250
  3700  6450 20800 13575 29275  4725 24800 15750 17100 15875 10925  4950
 10575  2850 32875 21100 11050 20375  9325  9375  7475 22125 27525 25500
 17750  8675  7450 24625 17900 12075  6725 24400  5225 14075 17175  9475
  9975 20900 12150 17725 15350  4925  4550 18750 15125 10950 12475  2750
  4625 12175  7575 23525 12350 17950  9525  8975 11975 12850 19850 21850
  4425 32250  2550 11400 21725 23100 13700  9950 21750 13750 12025 23400
 14975 19700 27500  3900 14725 17800  5175 15025 29550 23850 31500  9100
 27400 23675  9825 16200 11650 18875 29175  3950  2050 19950 12750 24375
  2875 25875 16275 10300 17450  3450  1825 13100 23275  8700  3675  8150
 23975  3350  7075  8625 31800 26200 34675 11025  7850 14175  9150 19925
 14275 25400 17825 16875 21800 14475 14225 10225 10650 12725 31400  1550
 31700 31200  1875 16300 12550 11725 22600 26500  6225  4450  3875 13275
 34525 31025  6775 19450  2900  2450 27200 21300  4700  7425 19575 31150
 19100 30100 24600 32350  1900 29300  2350 15950 13300  2975 28250  8100
 28600  6425  4050 23450 32400 13675 21350  9050  2675  5025  5950 12625
 29800  1750 10825 24700 13125  6125 26850 28800  7275  6825 14775 10975
 20950  3850 28500 31325 11750 15825  7525  3550  7950 13400  3375  1250
 29600 22350  1850 17850 17875  7550  6175 30800 21125 30225  3750 10025
 14350  7775 33500 18900  8025  5125 13775  3075 29900 11525  5550  5975
 32500 22100 25300 14700  3325  5075  5625 27175 11575 16325 24200 15050
  5425 17700 12450 19725 19550  3025 22875 23075 15450 10750  4325  3275
  8175 20700  1775  4775  8225  4575 15775 19475 14200 21225 17225 12425
  7900 14525  2650  8275 13325 30600  6275  4075  1625  1275 13075 23750
 24650 14250  8825  5775  8350 19150  9725 18575  8725 16050 26250 16075
  6150  8750 11075 10875 16350  2275  3925 11375  4275 18325  9650  2725
 10425  6575  2075 13175  9550 12675 15425 18300 18600  5525 10550 22325
 15175 12225 12525 28750 15650 11450 23350  1525 31725 13625 32775 20600
  8550 15975  9775 13425  1050  2950 12925 29375 12325  9075  1350 21700
 15400  4975 11275  7725  9225  2325 13725  8775 19250 14900 34800 17300
  9700  2150 10100 10350  2825 17975  1650 15275  7975  2925  2525  2225
  5725 23425  4875  2475  3425 16700  2775 13050 34200  5925 26025 16225
  9275 11350 21450 10850  7225  1425  5475 19300  7050 24175 12050  1225
 13850 32525 17075  1375  1675 18275  9125 33250 16525 11850 22300  2375
  7675  8525 31050  4525  7025 14625 13375  4675 25375 24975 12825 18150
 18050  9850 14875 17425 16725 13550  9625 15150 19875  1475 22650 17150
  6875  7375  5675  7625  6525  3225  6675  1075 15675 17275 11475 12975
 15325  1125  8950 11675 12275  3475 21425 18125 23050 11175 10450 21825
 10475 20150 24750 13900  4175 24100 17925 24150 19975 19900 13950 12125
 11225 23475 19650 13450 10725  1150 20475 17525   500   725 23575   700
   950 19275   900   750 17350   800 10325 13025 22550]
10000    2833
12000    2334
5000     2051
6000     1908
15000    1895
         ...
22875       1
8175        1
19475       1
21225       1
22550       1
Name: loan_amnt, Length: 885, dtype: int64
funded_amnt
[ 5000  2500  2400 ...   800 13875 22350]
10000    2741
12000    2244
5000     2040
6000     1898
15000    1784
         ...
26250       1
24725       1
31750       1
22625       1
22350       1
Name: funded_amnt, Length: 1041, dtype: int64
funded_amnt_inv
[4975. 2500. 2400. ...  200.   75.  150.]
5000.000000     1309
10000.000000    1275
6000.000000     1200
12000.000000    1069
8000.000000      900
                ...
4944.213109        1
18400.281660       1
14659.820000       1
6294.151315        1
11808.924370       1
Name: funded_amnt_inv, Length: 8205, dtype: int64
term
[' 36 months' ' 60 months']
 36 months    29096
 60 months    10621
Name: term, dtype: int64
int_rate
['10.65%' '15.27%' '15.96%' '13.49%' '12.69%' '7.90%' '18.64%' '21.28%'
 '14.65%' '9.91%' '16.29%' '6.03%' '11.71%' '12.42%' '14.27%' '16.77%'
 '7.51%' '8.90%' '18.25%' '6.62%' '19.91%' '17.27%' '17.58%' '21.67%'
 '19.42%' '22.06%' '20.89%' '20.30%' '23.91%' '19.03%' '23.52%' '23.13%'
 '22.74%' '22.35%' '24.11%' '6.00%' '22.11%' '7.49%' '11.99%' '5.99%'
 '10.99%' '9.99%' '18.79%' '11.49%' '8.49%' '15.99%' '16.49%' '6.99%'
 '12.99%' '15.23%' '14.79%' '5.42%' '10.59%' '17.49%' '15.62%' '21.36%'
 '19.29%' '13.99%' '18.39%' '16.89%' '17.99%' '20.62%' '20.99%' '22.85%'
 '19.69%' '20.25%' '23.22%' '21.74%' '22.48%' '23.59%' '12.62%' '18.07%'
 '11.63%' '7.91%' '7.42%' '11.14%' '20.20%' '12.12%' '19.39%' '16.11%'
 '17.54%' '22.64%' '13.84%' '16.59%' '17.19%' '12.87%' '20.69%' '9.67%'
 '21.82%' '19.79%' '18.49%' '22.94%' '24.59%' '24.40%' '21.48%' '14.82%'
 '14.17%' '7.29%' '17.88%' '20.11%' '16.02%' '17.51%' '13.43%' '14.91%'
 '13.06%' '15.28%' '15.65%' '17.14%' '11.11%' '10.37%' '16.40%' '7.66%'
 '10.00%' '18.62%' '10.74%' '5.79%' '6.92%' '9.63%' '14.54%' '12.68%'
 '19.36%' '13.80%' '18.99%' '21.59%' '20.85%' '21.22%' '19.74%' '20.48%'
 '6.91%' '12.23%' '12.61%' '10.36%' '6.17%' '6.54%' '9.25%' '16.69%'
 '15.95%' '8.88%' '13.35%' '9.62%' '16.32%' '12.98%' '14.83%' '13.72%'
 '14.09%' '14.46%' '20.03%' '17.80%' '15.20%' '15.57%' '18.54%' '19.66%'
 '17.06%' '18.17%' '17.43%' '20.40%' '20.77%' '18.91%' '21.14%' '17.44%'
 '13.23%' '7.88%' '11.12%' '13.61%' '10.38%' '17.56%' '17.93%' '15.58%'
 '13.98%' '14.84%' '15.21%' '6.76%' '6.39%' '11.86%' '7.14%' '14.35%'
 '16.82%' '10.75%' '14.72%' '16.45%' '18.67%' '20.53%' '19.41%' '20.16%'
 '21.27%' '18.30%' '19.04%' '20.90%' '21.64%' '12.73%' '10.25%' '13.11%'
 '10.62%' '13.48%' '14.59%' '16.07%' '15.70%' '9.88%' '11.36%' '15.33%'
 '13.85%' '14.96%' '14.22%' '7.74%' '13.22%' '13.57%' '8.59%' '17.04%'
 '14.61%' '8.94%' '12.18%' '11.83%' '11.48%' '16.35%' '13.92%' '15.31%'
 '14.26%' '19.13%' '12.53%' '16.70%' '16.00%' '17.39%' '18.09%' '7.40%'
 '18.43%' '17.74%' '7.05%' '20.52%' '20.86%' '19.47%' '18.78%' '21.21%'
 '19.82%' '20.17%' '13.16%' '8.00%' '13.47%' '12.21%' '16.63%' '9.32%'
 '12.84%' '11.26%' '15.68%' '15.37%' '10.95%' '11.89%' '14.11%' '13.79%'
 '7.68%' '11.58%' '7.37%' '16.95%' '15.05%' '18.53%' '14.74%' '14.42%'
 '18.21%' '17.26%' '18.84%' '17.90%' '19.16%' '13.67%' '9.38%' '12.72%'
 '13.36%' '11.46%' '10.51%' '9.07%' '13.04%' '11.78%' '12.41%' '10.83%'
 '12.09%' '17.46%' '14.30%' '17.15%' '15.25%' '10.20%' '15.88%' '14.93%'
 '16.20%' '18.72%' '14.62%' '8.32%' '14.12%' '10.96%' '10.33%' '10.01%'
 '12.86%' '11.28%' '11.59%' '8.63%' '12.54%' '12.22%' '11.91%' '15.38%'
 '16.96%' '13.17%' '9.70%' '16.33%' '14.75%' '15.07%' '16.01%' '10.71%'
 '10.64%' '9.76%' '11.34%' '10.39%' '13.87%' '11.03%' '11.66%' '13.24%'
 '10.08%' '9.45%' '13.55%' '12.29%' '11.97%' '12.92%' '15.45%' '14.50%'
 '14.18%' '15.13%' '16.08%' '15.76%' '17.03%' '17.34%' '16.71%' '9.83%'
 '13.62%' '10.46%' '9.51%' '9.20%' '13.30%' '10.78%' '7.75%' '8.38%'
 '12.36%' '12.67%' '11.72%' '13.93%' '8.07%' '7.43%' '12.04%' '14.25%'
 '14.88%' '11.41%' '11.09%' '10.14%' '16.15%' '15.83%' '7.12%' '18.36%'
 '9.64%' '9.96%' '11.22%' '9.01%' '9.33%' '11.54%' '12.17%' '12.80%'
 '14.38%' '13.75%' '14.70%' '12.49%' '14.07%' '10.91%' '13.12%' '10.28%'
 '8.70%' '14.67%' '15.01%']
10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
18.36%      1
16.96%      1
16.15%      1
16.01%      1
17.44%      1
Name: int_rate, Length: 371, dtype: int64
installment
[162.87  59.83  84.33 ...  78.42 275.38 255.43]
311.11     68
180.96     59
311.02     54
150.80     48
368.45     46
           ..
1224.46     1
63.44       1
157.67      1
492.34      1
255.43      1
Name: installment, Length: 15383, dtype: int64
grade
['B' 'C' 'A' 'E' 'F' 'D' 'G']
B    12020
A    10085
C     8098
D     5307
E     2842
F     1049
G      316
Name: grade, dtype: int64
sub_grade
['B2' 'C4' 'C5' 'C1' 'B5' 'A4' 'E1' 'F2' 'C3' 'B1' 'D1' 'A1' 'B3' 'B4'
 'C2' 'D2' 'A3' 'A5' 'D5' 'A2' 'E4' 'D3' 'D4' 'F3' 'E3' 'F4' 'F1' 'E5'
 'G4' 'E2' 'G3' 'G2' 'G1' 'F5' 'G5']
B3    2917
A4    2886
A5    2742
B5    2704
B4    2512
C1    2136
B2    2057
C2    2011
B1    1830
A3    1810
C3    1529
A2    1508
D2    1348
C4    1236
C5    1186
D3    1173
A1    1139
D4     981
D1     931
D5     874
E1     763
E2     656
E3     553
E4     454
E5     416
F1     329
F2     249
F3     185
F4     168
F5     118
G1     104
G2      78
G4      56
G3      48
G5      30
Name: sub_grade, dtype: int64
emp_title
[nan 'Ryder' 'AIR RESOURCES BOARD' ... 'FiSite Research'
 'Squarewave Solutions, Ltd.' 'Evergreen Center']
US Army                              134
Bank of America                      109
IBM                                   66
AT&T                                  59
Kaiser Permanente                     56
                                    ...
Community College of Philadelphia      1
AMEC                                   1
lee county sheriff                     1
Bacon County Board of Education        1
Evergreen Center                       1
Name: emp_title, Length: 28820, dtype: int64
emp_length
['10+ years' '< 1 year' '1 year' '3 years' '8 years' '9 years' '4 years'
 '5 years' '6 years' '2 years' '7 years' nan]
10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64
home_ownership
['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE']
RENT        18899
MORTGAGE    17659
OWN          3058
OTHER          98
NONE            3
Name: home_ownership, dtype: int64
annual_inc
[24000. 30000. 12252. ... 33990. 36153. 27376.]
60000.0    1505
50000.0    1057
40000.0     876
45000.0     830
30000.0     825
           ...
56820.0       1
45314.0       1
53913.0       1
62880.0       1
27376.0       1
Name: annual_inc, Length: 5318, dtype: int64
verification_status
['Verified' 'Source Verified' 'Not Verified']
Not Verified       16921
Verified           12809
Source Verified     9987
Name: verification_status, dtype: int64
issue_d
['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11' 'Feb-11' 'Jan-11' 'Dec-10' 'Nov-10' 'Oct-10' 'Sep-10'
 'Aug-10' 'Jul-10' 'Jun-10' 'May-10' 'Apr-10' 'Mar-10' 'Feb-10' 'Jan-10'
 'Dec-09' 'Nov-09' 'Oct-09' 'Sep-09' 'Aug-09' 'Jul-09' 'Jun-09' 'May-09'
 'Apr-09' 'Mar-09' 'Feb-09' 'Jan-09' 'Dec-08' 'Nov-08' 'Oct-08' 'Sep-08'
 'Aug-08' 'Jul-08' 'Jun-08' 'May-08' 'Apr-08' 'Mar-08' 'Feb-08' 'Jan-08'
 'Dec-07' 'Nov-07' 'Oct-07' 'Sep-07' 'Aug-07' 'Jul-07' 'Jun-07']
Dec-11    2260
Nov-11    2223
Oct-11    2114
Sep-11    2063
Aug-11    1928
Jul-11    1870
Jun-11    1827
May-11    1689
Apr-11    1562
Mar-11    1443
Jan-11    1380
Feb-11    1297
Dec-10    1267
Oct-10    1132
Nov-10    1121
Jul-10    1119
Sep-10    1086
Aug-10    1078
Jun-10    1029
May-10     920
Apr-10     827
Mar-10     737
Feb-10     627
Nov-09     602
Dec-09     598
Jan-10     589
Oct-09     545
Sep-09     449
Aug-09     408
Jul-09     374
Jun-09     356
May-09     319
Apr-09     290
Mar-09     276
Feb-09     260
Jan-09     239
Mar-08     236
Dec-08     223
Nov-08     184
Feb-08     174
Jan-08     171
Apr-08     155
Oct-08      96
Dec-07      85
Jul-08      83
May-08      71
Aug-08      71
Jun-08      66
Oct-07      47
Nov-07      37
Aug-07      33
Sep-08      32
Jul-07      30
Sep-07      18
Jun-07       1
Name: issue_d, dtype: int64
loan_status
['Fully Paid' 'Charged Off' 'Current']
Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64
desc
['  Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>'
 '  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike. I only need this money because the deal im looking at is to good to pass up.<br><br>  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike.I only need this money because the deal im looking at is to good to pass up. I have finished college with an associates degree in business and its takingmeplaces<br>'
 nan ...
 'Our current gutter system on our home is old and in need of repair.    We will be using the borrowed funds to replace the gutter system on our home.'
 'The rate of interest and fees incurred by carrying a balance on my credit card are so outrageous at this point that continuing to pay them is patently bad financial thinking.  I wish to redirect my efforts at retiring my debt via another more-reasonable means.    I have sufficient funds to direct to this end on a monthly basis, and have simply gotten tired of their being gobbled up by interest and fees.'
 'I plan to consolidate over $7,000 of debt: a combination of credit cards and student loans.']
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              210
Debt Consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              8
Camping Membership                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              6
personal loan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   3
credit card consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
  Borrower added on 05/13/11 > I have a very stable income and have &quot;NEVER&quot; been delinquent on any accounts. I am interested in consolidating my credit card accounts along with a personal loan for the benefit of paying one payment a month versus multiple. Thank you.<br/>                                                                                                                                                                                                                                                                                                                                                                                       1

In [132]:
# get the columns where there are only 1 unique values
one_unique_columns = []
for i in df.columns:
    if(df[i].nunique()==1):
        print(i)
        one_unique_columns.append(i)
print(one_unique_columns)

pymnt_plan
initial_list_status
collections_12_mths_ex_med
policy_code
acc_now_delinq
chargeoff_within_12_mths
delinq_amnt
tax_liens
['pymnt_plan', 'initial_list_status', 'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt', 'tax_liens']

In [133]:
# remove the columns where there is only one unique value

df.drop(one_unique_columns,inplace=True,axis=1)

In [135]:
# from the above we can see unnecessary columns that will not add any value for the analysis so remove them.
# removing emp_title- as there are huge no of categories and we dont have a very high majority to consider them
# removing pymnt_plan- as all the values are n.
# removing desc - as this is just general text about the loan
# removing title - as it looks like duplicate of purpose column
# remoing zip code - as the last to characters are XX so it is not a good categorical candidate
# removing collections_12_mths_ex_med as it has status as 0 or nan which might be same
# removing policy code  as it has only 1.
# removing acc_now_delinq as it has either 0 or nan which might be same.
# removing chargeoff_within_12_mths as it has only 0
# removing tax_liens as it has only 0 and nan
unnecessary_columns = ['emp_title','desc','title','zip_code']
unnecessary_columns

['emp_title', 'desc', 'title', 'zip_code']

In [136]:
# remove the unecessary columns
df.drop(unnecessary_columns,axis=1,inplace=True)

In [142]:
#check the columns in the dataframe
df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_d', 'loan_status',
       'purpose', 'addr_state', 'dti', 'pub_rec_bankruptcies'],
      dtype='object')

In [137]:
# check the size of new dataframe

df.shape

(39717, 18)

In [141]:
# check the unique data persent across various columns by checking the unique values and its value counts
for i in df.columns:
    print(i)
    print(df[i].unique())
    print(df[i].value_counts())
    print(df[i].nunique())

loan_amnt
[ 5000  2500  2400 10000  3000  7000  5600  5375  6500 12000  9000  1000
  3600  6000  9200 20250 21000 15000  4000  8500  4375 31825 12400 10800
 12500  9600  4400 14000 11000 25600 16000  7100 13000 17500 17675  8000
  3500 16425  8200 20975  6400 14400  7250 18000 35000 11800  4500 10500
 15300 20000  6200  7200  9500 18825 24000  2100  5500 26800 25000 19750
 13650 28000 10625  8850  6375 11100  4200  8875 13500 21600  8450 13475
 22000  7325  7750 13350 22475  8400 13250  7350 11500 29500  2000 11625
 15075  5300  8650  7400 24250 26000  1500 19600  4225 16500 15600 14125
 13200 12300  1400  3200 11875  1800 23200  4800  7300 10400  6600 30000
  4475  6300  8250  9875 21500  7800  9750 15550 17000  7500  5800  8050
  5400  4125  9800 15700  9900  6250 10200 23000 25975 21250 33425  8125
 18800 19200 12875  2625 11300  4100 18225 18500 16800  2200 14050 16100
 10525 19775 14500 11700  4150 12375  1700 22250 11200 22500 15900  3150
 18550  8575  7700 24500 22200 21400  9400 22400  5825  7650 20675 27050
 20500 12800 27575  7600 29000  9575 14575  7125 10700 10375  3050 27000
 28625 14100 20050 24925 13600 26400  7150 32000 15500 17475  2250 17050
  3250 22750  1200  5900 12600  6750 17250 19075 17200 13225 11775 16400
 10075  9350  8075 15625 20125  8300  2425  6950  5350  5875  9450 19000
 20400 21650 20300  2300 24575  5850  4750  5275  9175 34475 10050 19400
 18200  8800 34000 19500  5200 11900 29100 25850  3300 12200 22575  7175
 18250 16750 12950  6350 14750  6625  6900 18650  9250 22800 27300 12250
  4350 21200  2700  6025  3825  5325 14150  1600  2800 18975  2575  5450
  3800  2125 14650 11250 31000  6075  8475  3625 31300  4250 12650 27600
 13150  4300 10275 23600  7875 14550  9925 15850  1325  6325 29700 15200
 28100 15250  6800 11325 13975 13800  3100  3975 25450  3575 33600 23700
 28200  6475 27700 17375 15800 17625 16675  5250 22950  1950  4650 10250
  6100  8325  4850  9425 12700 25475 14850 14300 33000  5150 21625  3775
 21575 16250  8375 18725 11125  3525 19800  9300 19125  5575  1450 12900
 10150 20450 23500 16600  1300  6925 14675 11550 17400  1100  3400 12775
  5050 12100 26375  6975 26300  3125 23325 11600  5100 10175 18400 30750
 16550  5650 16450 18950  3650 33950 10125 16775  5700 20200 10600  3725
 19425 25900 23800  4025  2600  8900 10900 17600 14825  7925 14950  6700
  8600  1925 30500  4900 15575  3175 14800 32275  5750 14600 25200  6550
 30400 22900  6850  4600 11425 16950 29850 10675  6650 10775 17325 27250
  3700  6450 20800 13575 29275  4725 24800 15750 17100 15875 10925  4950
 10575  2850 32875 21100 11050 20375  9325  9375  7475 22125 27525 25500
 17750  8675  7450 24625 17900 12075  6725 24400  5225 14075 17175  9475
  9975 20900 12150 17725 15350  4925  4550 18750 15125 10950 12475  2750
  4625 12175  7575 23525 12350 17950  9525  8975 11975 12850 19850 21850
  4425 32250  2550 11400 21725 23100 13700  9950 21750 13750 12025 23400
 14975 19700 27500  3900 14725 17800  5175 15025 29550 23850 31500  9100
 27400 23675  9825 16200 11650 18875 29175  3950  2050 19950 12750 24375
  2875 25875 16275 10300 17450  3450  1825 13100 23275  8700  3675  8150
 23975  3350  7075  8625 31800 26200 34675 11025  7850 14175  9150 19925
 14275 25400 17825 16875 21800 14475 14225 10225 10650 12725 31400  1550
 31700 31200  1875 16300 12550 11725 22600 26500  6225  4450  3875 13275
 34525 31025  6775 19450  2900  2450 27200 21300  4700  7425 19575 31150
 19100 30100 24600 32350  1900 29300  2350 15950 13300  2975 28250  8100
 28600  6425  4050 23450 32400 13675 21350  9050  2675  5025  5950 12625
 29800  1750 10825 24700 13125  6125 26850 28800  7275  6825 14775 10975
 20950  3850 28500 31325 11750 15825  7525  3550  7950 13400  3375  1250
 29600 22350  1850 17850 17875  7550  6175 30800 21125 30225  3750 10025
 14350  7775 33500 18900  8025  5125 13775  3075 29900 11525  5550  5975
 32500 22100 25300 14700  3325  5075  5625 27175 11575 16325 24200 15050
  5425 17700 12450 19725 19550  3025 22875 23075 15450 10750  4325  3275
  8175 20700  1775  4775  8225  4575 15775 19475 14200 21225 17225 12425
  7900 14525  2650  8275 13325 30600  6275  4075  1625  1275 13075 23750
 24650 14250  8825  5775  8350 19150  9725 18575  8725 16050 26250 16075
  6150  8750 11075 10875 16350  2275  3925 11375  4275 18325  9650  2725
 10425  6575  2075 13175  9550 12675 15425 18300 18600  5525 10550 22325
 15175 12225 12525 28750 15650 11450 23350  1525 31725 13625 32775 20600
  8550 15975  9775 13425  1050  2950 12925 29375 12325  9075  1350 21700
 15400  4975 11275  7725  9225  2325 13725  8775 19250 14900 34800 17300
  9700  2150 10100 10350  2825 17975  1650 15275  7975  2925  2525  2225
  5725 23425  4875  2475  3425 16700  2775 13050 34200  5925 26025 16225
  9275 11350 21450 10850  7225  1425  5475 19300  7050 24175 12050  1225
 13850 32525 17075  1375  1675 18275  9125 33250 16525 11850 22300  2375
  7675  8525 31050  4525  7025 14625 13375  4675 25375 24975 12825 18150
 18050  9850 14875 17425 16725 13550  9625 15150 19875  1475 22650 17150
  6875  7375  5675  7625  6525  3225  6675  1075 15675 17275 11475 12975
 15325  1125  8950 11675 12275  3475 21425 18125 23050 11175 10450 21825
 10475 20150 24750 13900  4175 24100 17925 24150 19975 19900 13950 12125
 11225 23475 19650 13450 10725  1150 20475 17525   500   725 23575   700
   950 19275   900   750 17350   800 10325 13025 22550]
10000    2833
12000    2334
5000     2051
6000     1908
15000    1895
         ...
22875       1
8175        1
19475       1
21225       1
22550       1
Name: loan_amnt, Length: 885, dtype: int64
885
funded_amnt
[ 5000  2500  2400 ...   800 13875 22350]
10000    2741
12000    2244
5000     2040
6000     1898
15000    1784
         ...
26250       1
24725       1
31750       1
22625       1
22350       1
Name: funded_amnt, Length: 1041, dtype: int64
1041
funded_amnt_inv
[4975. 2500. 2400. ...  200.   75.  150.]
5000.000000     1309
10000.000000    1275
6000.000000     1200
12000.000000    1069
8000.000000      900
                ...
4944.213109        1
18400.281660       1
14659.820000       1
6294.151315        1
11808.924370       1
Name: funded_amnt_inv, Length: 8205, dtype: int64
8205
term
[' 36 months' ' 60 months']
 36 months    29096
 60 months    10621
Name: term, dtype: int64
2
int_rate
['10.65%' '15.27%' '15.96%' '13.49%' '12.69%' '7.90%' '18.64%' '21.28%'
 '14.65%' '9.91%' '16.29%' '6.03%' '11.71%' '12.42%' '14.27%' '16.77%'
 '7.51%' '8.90%' '18.25%' '6.62%' '19.91%' '17.27%' '17.58%' '21.67%'
 '19.42%' '22.06%' '20.89%' '20.30%' '23.91%' '19.03%' '23.52%' '23.13%'
 '22.74%' '22.35%' '24.11%' '6.00%' '22.11%' '7.49%' '11.99%' '5.99%'
 '10.99%' '9.99%' '18.79%' '11.49%' '8.49%' '15.99%' '16.49%' '6.99%'
 '12.99%' '15.23%' '14.79%' '5.42%' '10.59%' '17.49%' '15.62%' '21.36%'
 '19.29%' '13.99%' '18.39%' '16.89%' '17.99%' '20.62%' '20.99%' '22.85%'
 '19.69%' '20.25%' '23.22%' '21.74%' '22.48%' '23.59%' '12.62%' '18.07%'
 '11.63%' '7.91%' '7.42%' '11.14%' '20.20%' '12.12%' '19.39%' '16.11%'
 '17.54%' '22.64%' '13.84%' '16.59%' '17.19%' '12.87%' '20.69%' '9.67%'
 '21.82%' '19.79%' '18.49%' '22.94%' '24.59%' '24.40%' '21.48%' '14.82%'
 '14.17%' '7.29%' '17.88%' '20.11%' '16.02%' '17.51%' '13.43%' '14.91%'
 '13.06%' '15.28%' '15.65%' '17.14%' '11.11%' '10.37%' '16.40%' '7.66%'
 '10.00%' '18.62%' '10.74%' '5.79%' '6.92%' '9.63%' '14.54%' '12.68%'
 '19.36%' '13.80%' '18.99%' '21.59%' '20.85%' '21.22%' '19.74%' '20.48%'
 '6.91%' '12.23%' '12.61%' '10.36%' '6.17%' '6.54%' '9.25%' '16.69%'
 '15.95%' '8.88%' '13.35%' '9.62%' '16.32%' '12.98%' '14.83%' '13.72%'
 '14.09%' '14.46%' '20.03%' '17.80%' '15.20%' '15.57%' '18.54%' '19.66%'
 '17.06%' '18.17%' '17.43%' '20.40%' '20.77%' '18.91%' '21.14%' '17.44%'
 '13.23%' '7.88%' '11.12%' '13.61%' '10.38%' '17.56%' '17.93%' '15.58%'
 '13.98%' '14.84%' '15.21%' '6.76%' '6.39%' '11.86%' '7.14%' '14.35%'
 '16.82%' '10.75%' '14.72%' '16.45%' '18.67%' '20.53%' '19.41%' '20.16%'
 '21.27%' '18.30%' '19.04%' '20.90%' '21.64%' '12.73%' '10.25%' '13.11%'
 '10.62%' '13.48%' '14.59%' '16.07%' '15.70%' '9.88%' '11.36%' '15.33%'
 '13.85%' '14.96%' '14.22%' '7.74%' '13.22%' '13.57%' '8.59%' '17.04%'
 '14.61%' '8.94%' '12.18%' '11.83%' '11.48%' '16.35%' '13.92%' '15.31%'
 '14.26%' '19.13%' '12.53%' '16.70%' '16.00%' '17.39%' '18.09%' '7.40%'
 '18.43%' '17.74%' '7.05%' '20.52%' '20.86%' '19.47%' '18.78%' '21.21%'
 '19.82%' '20.17%' '13.16%' '8.00%' '13.47%' '12.21%' '16.63%' '9.32%'
 '12.84%' '11.26%' '15.68%' '15.37%' '10.95%' '11.89%' '14.11%' '13.79%'
 '7.68%' '11.58%' '7.37%' '16.95%' '15.05%' '18.53%' '14.74%' '14.42%'
 '18.21%' '17.26%' '18.84%' '17.90%' '19.16%' '13.67%' '9.38%' '12.72%'
 '13.36%' '11.46%' '10.51%' '9.07%' '13.04%' '11.78%' '12.41%' '10.83%'
 '12.09%' '17.46%' '14.30%' '17.15%' '15.25%' '10.20%' '15.88%' '14.93%'
 '16.20%' '18.72%' '14.62%' '8.32%' '14.12%' '10.96%' '10.33%' '10.01%'
 '12.86%' '11.28%' '11.59%' '8.63%' '12.54%' '12.22%' '11.91%' '15.38%'
 '16.96%' '13.17%' '9.70%' '16.33%' '14.75%' '15.07%' '16.01%' '10.71%'
 '10.64%' '9.76%' '11.34%' '10.39%' '13.87%' '11.03%' '11.66%' '13.24%'
 '10.08%' '9.45%' '13.55%' '12.29%' '11.97%' '12.92%' '15.45%' '14.50%'
 '14.18%' '15.13%' '16.08%' '15.76%' '17.03%' '17.34%' '16.71%' '9.83%'
 '13.62%' '10.46%' '9.51%' '9.20%' '13.30%' '10.78%' '7.75%' '8.38%'
 '12.36%' '12.67%' '11.72%' '13.93%' '8.07%' '7.43%' '12.04%' '14.25%'
 '14.88%' '11.41%' '11.09%' '10.14%' '16.15%' '15.83%' '7.12%' '18.36%'
 '9.64%' '9.96%' '11.22%' '9.01%' '9.33%' '11.54%' '12.17%' '12.80%'
 '14.38%' '13.75%' '14.70%' '12.49%' '14.07%' '10.91%' '13.12%' '10.28%'
 '8.70%' '14.67%' '15.01%']
10.99%    956
13.49%    826
11.49%    825
7.51%     787
7.88%     725
         ...
18.36%      1
16.96%      1
16.15%      1
16.01%      1
17.44%      1
Name: int_rate, Length: 371, dtype: int64
371
installment
[162.87  59.83  84.33 ...  78.42 275.38 255.43]
311.11     68
180.96     59
311.02     54
150.80     48
368.45     46
           ..
1224.46     1
63.44       1
157.67      1
492.34      1
255.43      1
Name: installment, Length: 15383, dtype: int64
15383
grade
['B' 'C' 'A' 'E' 'F' 'D' 'G']
B    12020
A    10085
C     8098
D     5307
E     2842
F     1049
G      316
Name: grade, dtype: int64
7
sub_grade
['B2' 'C4' 'C5' 'C1' 'B5' 'A4' 'E1' 'F2' 'C3' 'B1' 'D1' 'A1' 'B3' 'B4'
 'C2' 'D2' 'A3' 'A5' 'D5' 'A2' 'E4' 'D3' 'D4' 'F3' 'E3' 'F4' 'F1' 'E5'
 'G4' 'E2' 'G3' 'G2' 'G1' 'F5' 'G5']
B3    2917
A4    2886
A5    2742
B5    2704
B4    2512
C1    2136
B2    2057
C2    2011
B1    1830
A3    1810
C3    1529
A2    1508
D2    1348
C4    1236
C5    1186
D3    1173
A1    1139
D4     981
D1     931
D5     874
E1     763
E2     656
E3     553
E4     454
E5     416
F1     329
F2     249
F3     185
F4     168
F5     118
G1     104
G2      78
G4      56
G3      48
G5      30
Name: sub_grade, dtype: int64
35
emp_length
['10+ years' '< 1 year' '1 year' '3 years' '8 years' '9 years' '4 years'
 '5 years' '6 years' '2 years' '7 years' nan]
10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64
11
home_ownership
['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE']
RENT        18899
MORTGAGE    17659
OWN          3058
OTHER          98
NONE            3
Name: home_ownership, dtype: int64
5
annual_inc
[24000. 30000. 12252. ... 33990. 36153. 27376.]
60000.0    1505
50000.0    1057
40000.0     876
45000.0     830
30000.0     825
           ...
56820.0       1
45314.0       1
53913.0       1
62880.0       1
27376.0       1
Name: annual_inc, Length: 5318, dtype: int64
5318
verification_status
['Verified' 'Source Verified' 'Not Verified']
Not Verified       16921
Verified           12809
Source Verified     9987
Name: verification_status, dtype: int64
3
issue_d
['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11' 'Feb-11' 'Jan-11' 'Dec-10' 'Nov-10' 'Oct-10' 'Sep-10'
 'Aug-10' 'Jul-10' 'Jun-10' 'May-10' 'Apr-10' 'Mar-10' 'Feb-10' 'Jan-10'
 'Dec-09' 'Nov-09' 'Oct-09' 'Sep-09' 'Aug-09' 'Jul-09' 'Jun-09' 'May-09'
 'Apr-09' 'Mar-09' 'Feb-09' 'Jan-09' 'Dec-08' 'Nov-08' 'Oct-08' 'Sep-08'
 'Aug-08' 'Jul-08' 'Jun-08' 'May-08' 'Apr-08' 'Mar-08' 'Feb-08' 'Jan-08'
 'Dec-07' 'Nov-07' 'Oct-07' 'Sep-07' 'Aug-07' 'Jul-07' 'Jun-07']
Dec-11    2260
Nov-11    2223
Oct-11    2114
Sep-11    2063
Aug-11    1928
Jul-11    1870
Jun-11    1827
May-11    1689
Apr-11    1562
Mar-11    1443
Jan-11    1380
Feb-11    1297
Dec-10    1267
Oct-10    1132
Nov-10    1121
Jul-10    1119
Sep-10    1086
Aug-10    1078
Jun-10    1029
May-10     920
Apr-10     827
Mar-10     737
Feb-10     627
Nov-09     602
Dec-09     598
Jan-10     589
Oct-09     545
Sep-09     449
Aug-09     408
Jul-09     374
Jun-09     356
May-09     319
Apr-09     290
Mar-09     276
Feb-09     260
Jan-09     239
Mar-08     236
Dec-08     223
Nov-08     184
Feb-08     174
Jan-08     171
Apr-08     155
Oct-08      96
Dec-07      85
Jul-08      83
May-08      71
Aug-08      71
Jun-08      66
Oct-07      47
Nov-07      37
Aug-07      33
Sep-08      32
Jul-07      30
Sep-07      18
Jun-07       1
Name: issue_d, dtype: int64
55
loan_status
['Fully Paid' 'Charged Off' 'Current']
Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64
3
purpose
['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving' 'vacation' 'house' 'renewable_energy' 'educational']
debt_consolidation    18641
credit_card            5130
other                  3993
home_improvement       2976
major_purchase         2187
small_business         1828
car                    1549
wedding                 947
medical                 693
moving                  583
vacation                381
house                   381
educational             325
renewable_energy        103
Name: purpose, dtype: int64
14
addr_state
['AZ' 'GA' 'IL' 'CA' 'OR' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT' 'FL' 'NY' 'PA'
 'MN' 'NJ' 'KY' 'OH' 'SC' 'RI' 'LA' 'MA' 'WA' 'WI' 'AL' 'CO' 'KS' 'NV'
 'AK' 'MD' 'WV' 'VT' 'MI' 'DC' 'SD' 'NH' 'AR' 'NM' 'MT' 'HI' 'WY' 'OK'
 'DE' 'MS' 'TN' 'IA' 'NE' 'ID' 'IN' 'ME']
CA    7099
NY    3812
FL    2866
TX    2727
NJ    1850
IL    1525
PA    1517
VA    1407
GA    1398
MA    1340
OH    1223
MD    1049
AZ     879
WA     840
CO     792
NC     788
CT     751
MI     720
MO     686
MN     615
NV     497
SC     472
WI     460
AL     452
OR     451
LA     436
KY     325
OK     299
KS     271
UT     258
AR     245
DC     214
RI     198
NM     189
WV     177
HI     174
NH     171
DE     114
MT      85
WY      83
AK      80
SD      64
VT      54
MS      19
TN      17
IN       9
ID       6
IA       5
NE       5
ME       3
Name: addr_state, dtype: int64
50
dti
[27.65  1.    8.72 ...  1.79  0.12 25.43]
0.00     183
12.00     51
18.00     45
19.20     40
13.20     39
        ...
29.13      1
25.31      1
29.76      1
28.42      1
25.43      1
Name: dti, Length: 2868, dtype: int64
2868
pub_rec_bankruptcies
[ 0.  1.  2. nan]
0.0    37339
1.0     1674
2.0        7
Name: pub_rec_bankruptcies, dtype: int64
3